video {
  margin-top: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover; // 화면을 꽉 채우기
}
.mainText {
  position: absolute;
  color: white;
  width: 100%;

  // 화면 중앙 정렬
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  h3 {
    margin-top: 15px;
  }
}
.contentBox {
  margin: 16rem auto;
  text-align: center;
  img {
    width: 80%;
    margin: 0 auto;
  }
}
.inViewBox{ // 화면에 보일 때 0.8초 expandScale 실행
  animation: expandScale 0.8s forwards;
}
.outViewBox{ // 화면에 보이지 않을 때 shrinkScale 실행
  animation: shrinkScale 0.8s forwards;
}

.slideImage {
  width: 70%;
  margin: 0 auto;
  object-fit: cover;
}

// 요소가 커지는 애니메이션
@keyframes expandScale {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
// 요소가 작아지는 애니메이션
@keyframes shrinkScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}