video {
  margin-top: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover; // 화면을 꽉 채우기
}
.mainText {
  position: absolute;
  color: white;
  width: 100%;

  // 화면 중앙 정렬
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  h3 {
    margin-top: 15px;
  }
}
.contentBox {
  margin: 16rem auto;
  text-align: center;
  word-break: keep-all; // 화면 크기에 따라 단어 기준으로 줄바꿈
  img {
    width: 80%;
    margin: 0 auto;
  }
}
.inViewBox{ // 화면에 보일 때 0.8초 expandScale 실행
  animation: expandScale 0.8s forwards;
}
.outViewBox{ // 화면에 보이지 않을 때 shrinkScale 실행
  animation: shrinkScale 0.8s forwards;
}
.slideImage {
  width: 70%;
  margin: 0 auto;
  object-fit: cover;
}
.bottomBorder {
  margin: 0 10px;
  border-bottom: 5px solid #e5e5e5;
}
.missionHeader { // 미션 제목 그라데이션
  background: linear-gradient(to right top, #0ca246, #347abe);
  color: transparent;
  -webkit-background-clip: text; 
}

// 특허 출원, 디자인 출원, 상표 출원
.applyList {
  list-style: none;
  margin: 0 3rem;
  padding: 0;
  text-align: center;
}
.project {
  // 가로로 3개씩 배치
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
.projectName, .projectCount{
  text-align: center;
  color: #45c2b1;
}
.projectCount {
  font-weight: bold;
  font-size: 2rem;
}

// 약사
.history {
  display: grid;
  margin: 0 1rem;
}
.historyYear {
  grid-column: 1; // grid 1열에 배치
  font-weight: bold;
  margin-right: 1.5rem;
  text-align: right;
  h3 {
    font-size: 2rem;
    font-weight: bold;
  }
}
.historyContent {
  grid-column: 2; // grid 1열에 배치
  color: #666;
  text-align: left;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e5e5e5;
}

// 요소가 커지는 애니메이션
@keyframes expandScale {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
// 요소가 작아지는 애니메이션
@keyframes shrinkScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}