.container {
  word-break: keep-all; // 화면 크기에 따라 단어 기준으로 줄바꿈
  background-color: #343a40;
}
.footerContent {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: 1rem 1rem;
}
.copyright {
  font-size: 0.7rem;
}
.snsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; // 2열로 배치
  gap: 2rem;
  width: 25%;
  margin: 0 auto;
}
.snsImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer; // 마우스 올렸을 때 손가락 모양
}