.container {
  word-break: keep-all; // 화면 크기에 따라 단어 기준으로 줄바꿈
  background-color: #343a40;
}
.footerContent {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: 1rem 1rem;
}
.copyright {
  font-size: 0.7rem;
}
.snsContainer {
  list-style: none;
  padding: 0;
  text-align: center;
}
.snsImage {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 1rem; // 이미지 간격
  vertical-align: top; // 이미지 상단 정렬
  cursor: pointer; // 마우스 올렸을 때 손가락 모양
}